rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /tickets/{ticket} {
      allow read, write: if request.auth != null;
    }
    
    // Add a match for any other collections you might need
    match /{document=**} {
      allow read, write: if request.auth != null;
    }
  }
}
